:root {
  --light-red: hsl(0, 100%, 90%);
  --light-blue: hsl(240, 100%, 90%);
  --light-green: hsl(120, 100%, 90%);
  --light-yellow: hsl(60, 100%, 90%);
}

@font-face {
  font-family: Iosevka;
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/iosevka-regular.woff2");
}

path {
  stroke: hsl(0, 0%, 10%);
  stroke-width: 3;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

path.pen {
}

path.highlighter {
  stroke-width: 24;
}

path.highlighter.red {
  stroke: var(--light-red);
}

path.highlighter.blue {
  stroke: var(--light-blue);
}

path.highlighter.green {
  stroke: var(--light-green);
}

rect.box {
  stroke: blue;
  stroke-width: 3;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

rect.selection-cursor {
  fill: var(--light-yellow);
}

text.cell {
  /* font-family: Overpass Mono; */
  font-family: Iosevka;
  font-size: 20px;
}

g.bold > text {
  font-weight: bold;
}

g.underlined > text {
  text-decoration: underline;
}

rect.text-bg {
  fill: none;
}

g.highlight-red > rect.text-bg {
  fill: var(--light-red);
}
g.highlight-blue > rect.text-bg {
  fill: var(--light-blue);
}
g.highlight-green > rect.text-bg {
  fill: svar(--light-green);
}

circle.dot-grid-marker {
  fill: hsl(0, 0%, 50%);
}
